@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

body {
  min-height: 98vh;
  font-family: "Lilita One", sans-serif;
  line-height: 1.5;
  color: #111;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

main {
  max-width: 720px;
  width: 100%;
  border: 2.5px solid #330867;
  border-radius: 2.5px;
  box-shadow: 0 10px 20px rgba(17, 17, 17, 0.125),
    0 5px 5px rgba(17, 17, 17, 0.25);
  background-color: #008d8f;
}

h1 {
  padding: 1rem;
  color: white;
  text-align: center;
}

button {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  border: 0;
  padding: 1rem;
}

input {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(73, 84, 149);
}

.buttons {
  display: flex;
}

button {
  cursor: pointer;
  flex: 1;
  background-color: transparent;
  color: white;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

section {
  min-height: 120px;
  text-align: center;
  background-color: rgb(51, 27, 149);
}
/* https://www.w3resource.com/html-css-exercise/html-css-practical-exercises/html-css-practical-exercise-8.php */
.mouse-cursor-gradient-tracking {
  position: relative;

  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.mouse-cursor-gradient-tracking span {
  position: relative;
}

.mouse-cursor-gradient-tracking:before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
    circle closest-side,
    rgba(254, 255, 255, 0.316),
    transparent
  );
  transform: translate(-50%, -50%);
  transition: width 0.8s ease, height 0.8s ease;
}

.mouse-cursor-gradient-tracking:hover:before {
  --size: 100px;
}
